.version.index /* version checker */
{
	color: #00001D;
	background-color: #6004B5;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 232px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FAFF97;
	padding-top: 20px;
	padding-bottom: 248px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu602
{
	width: 87.61%;
	margin-left: 2.09%;
}

#u602
{
	z-index: 21;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 25.93%;
}

#u554-15
{
	z-index: 6;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	width: 72.89%;
	left: 27.12%;
}

#u357-11
{
	z-index: 23;
	min-height: 72px;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
	width: 70.21%;
	margin-left: 2.09%;
}

#u357-2,#u357-3,#u357-7
{
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u357-8,#u357-9
{
	font-size: 34px;
	text-decoration: none;
	line-height: 41px;
	font-weight: bold;
	font-style: italic;
}

.html
{
	background-color: #FAFF97;
}

body
{
	position: relative;
	min-width: 320px;
}

#u602_img
{
	width: 100%;
}

