.version.index /* version checker */
{
	color: #0000EF;
	background-color: #2E15FD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FAFF97;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu602
{
	width: 87.61%;
	margin-left: 2.09%;
}

#u602
{
	z-index: 21;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 25.93%;
}

#u554-15
{
	z-index: 6;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	width: 72.89%;
	left: 27.12%;
}

#pu357-9
{
	margin-top: 19px;
	width: 70.21%;
	margin-left: 14.9%;
}

#u357-9
{
	z-index: 23;
	min-height: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u357-2,#u357-3,#u357-5
{
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u357-6,#u357-7
{
	font-size: 34px;
	text-decoration: none;
	line-height: 41px;
	font-weight: bold;
	font-style: italic;
}

#u642
{
	z-index: 33;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	width: 66.92%;
	left: 16.47%;
}

#u638
{
	z-index: 32;
	min-height: 124px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 91px;
	position: relative;
	width: 41.67%;
	margin-left: 29.17%;
}

.html
{
	background-color: #FAFF97;
}

body
{
	position: relative;
	min-width: 320px;
}

#u642_img,#u602_img
{
	width: 100%;
}

