#u579-4
{
	background-color: transparent;
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u602
{
	background-color: transparent;
}

#u554-15
{
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
}

#u554-13
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u554-4,#u554-7,#u554-10
{
	color: #79008B;
}


