#u579-4
{
	background-color: transparent;
	color: #7F7F7F;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u687
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #C7B299;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u554-17
{
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
}

#u554-15
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u554-2,#u554-3,#u554-5,#u554-6,#u554-8,#u554-9,#u554-11,#u554-12,#u554-14
{
	color: #009108;
}

#u663
{
	background-color: transparent;
}

#u679
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #00FF00;
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

