.version.other_junk /* version checker */
{
	color: #000002;
	background-color: #CAE3E1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FAFF97;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu602
{
	width: 87.61%;
	margin-left: 2.09%;
}

#u602
{
	z-index: 104;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 25.93%;
}

#u554-15
{
	z-index: 89;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	width: 72.89%;
	left: 27.12%;
}

#u566-83
{
	z-index: 6;
	min-height: 478px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u566
{
	text-align: left;
}

#u566-6
{
	font-size: 18px;
	text-align: left;
	line-height: 24px;
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-3,#u566-4,#u566-8,#u566-9,#u566-15,#u566-21,#u566-27
{
	text-align: left;
	line-height: 19px;
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-33
{
	text-align: left;
	line-height: 19px;
	text-indent: -1px;
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-14,#u566-20,#u566-26,#u566-32,#u566-38,#u566-39
{
	text-align: left;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-41
{
	font-size: 18px;
	text-align: left;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-43,#u566-47
{
	font-size: 18px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-42,#u566-44
{
	font-size: 14px;
	color: #474747;
	line-height: 19px;
}

#u566-45
{
	font-size: 14px;
	line-height: 19px;
}

#u566-2,#u566-10,#u566-13,#u566-16,#u566-19,#u566-22,#u566-25,#u566-28,#u566-31,#u566-34,#u566-37,#u566-40,#u566-50
{
	color: #474747;
}

#u566-53,#u566-61,#u566-65,#u566-67,#u566-72
{
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-52,#u566-58,#u566-64,#u566-66,#u566-69
{
	font-size: 14px;
	color: #474747;
	line-height: 17px;
}

#u566-55,#u566-56,#u566-59,#u566-70
{
	font-size: 14px;
	line-height: 17px;
}

#u566-48,#u566-49,#u566-51,#u566-54,#u566-62,#u566-63,#u566-68,#u566-73,#u566-74,#u566-75,#u566-76,#u566-77,#u566-78,#u566-79,#u566-80
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-81
{
	line-height: 17px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.html
{
	background-color: #FAFF97;
}

body
{
	position: relative;
	min-width: 320px;
}

#u602_img
{
	width: 100%;
}

