/*

*/

.version.other_junk /* version checker */
{
	color: #0000F8;
	background-color: #3DC8DC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 464px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 16px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu687
{
	margin-top: -4px;
	width: 97.5%;
	margin-left: 2.09%;
}

#u687
{
	z-index: 7;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 17.95%;
	left: 82.06%;
}

#u554-17
{
	z-index: 60;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 65.5%;
	left: 29.81%;
}

#u663
{
	z-index: 77;
	position: relative;
	margin-right: -10000px;
	width: 29.06%;
}

#u566-52
{
	z-index: 8;
	min-height: 478px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u566
{
	text-align: left;
}

#u566-4
{
	text-align: left;
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-2
{
	line-height: 19px;
}

#u566-3
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 22px;
}

#u566-5
{
	text-align: left;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-7
{
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	color: #ED1C24;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-9
{
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-8
{
	font-size: 16px;
	line-height: 22px;
}

#u566-13
{
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-18
{
	font-size: 14px;
	line-height: 17px;
}

#u566-15,#u566-31,#u566-32
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-17,#u566-34
{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0px;
	color: #ED1C24;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-20,#u566-36
{
	font-size: 18px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-19,#u566-35
{
	font-size: 16px;
	line-height: 19px;
}

#u566-21,#u566-37
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-26,#u566-30,#u566-41
{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-10,#u566-25,#u566-38
{
	color: #474747;
}

#u566-14,#u566-42,#u566-43,#u566-44,#u566-45,#u566-46,#u566-47,#u566-48,#u566-49
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-50
{
	line-height: 17px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u679
{
	z-index: 6;
	min-height: 26px;
	margin-top: 20px;
	position: relative;
	width: 30.32%;
	margin-left: 2.09%;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
}

#u663_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	src: url('../fonts/perfectdosvga437win.eot');
	src: local('☺'), url('../fonts/perfectdosvga437win.woff') format('woff'), url('../fonts/perfectdosvga437win.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

