/*

*/

.version.other_junk /* version checker */
{
	color: #000009;
	background-color: #CF719C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu663
{
	margin-top: -4px;
	width: 92.92%;
	margin-left: 2.09%;
}

#u663
{
	z-index: 77;
	position: relative;
	margin-right: -10000px;
	width: 30.5%;
}

#u554-17
{
	z-index: 60;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 68.73%;
	left: 31.28%;
}

#u566-54
{
	z-index: 6;
	min-height: 478px;
	background-color: transparent;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u566
{
	text-align: left;
}

#u566-4
{
	text-align: left;
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-2
{
	line-height: 19px;
}

#u566-3
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 22px;
}

#u566-5
{
	text-align: left;
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-7
{
	font-size: 22px;
	text-align: left;
	line-height: 30px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-10
{
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-8
{
	font-size: 14px;
	line-height: 19px;
}

#u566-9
{
	font-size: 16px;
	line-height: 22px;
}

#u566-14
{
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-16,#u566-32,#u566-33
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-18,#u566-35
{
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-21,#u566-38
{
	font-size: 18px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u566-19,#u566-36
{
	font-size: 14px;
	line-height: 17px;
}

#u566-20,#u566-37
{
	font-size: 16px;
	line-height: 19px;
}

#u566-22,#u566-39
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-27,#u566-31,#u566-43
{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u566-11,#u566-26,#u566-40
{
	color: #474747;
}

#u566-15,#u566-44,#u566-45,#u566-46,#u566-47,#u566-48,#u566-49,#u566-50,#u566-51
{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u566-52
{
	line-height: 17px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
}

#u663_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	src: url('../fonts/perfectdosvga437win.eot');
	src: local('☺'), url('../fonts/perfectdosvga437win.woff') format('woff'), url('../fonts/perfectdosvga437win.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

