.version.projects /* version checker */
{
	color: #000005;
	background-color: #C4ABA0;
}

#page
{
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FAFF97;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu602
{
	width: 87.61%;
	margin-left: 2.09%;
}

#u602
{
	z-index: 59;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	width: 25.93%;
}

#u554-15
{
	z-index: 44;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	width: 72.89%;
	left: 27.12%;
}

#u557-38
{
	z-index: 6;
	min-height: 619px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u557-5,#u557-6
{
	font-size: 22px;
	line-height: 26px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-23
{
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u557-21
{
	line-height: 17px;
}

#u557-22
{
	font-size: 22px;
	line-height: 26px;
}

#u557-8,#u557-10,#u557-11,#u557-19,#u557-24,#u557-31,#u557-32
{
	color: #474747;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-18,#u557-20,#u557-29,#u557-36
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-4,#u557-12,#u557-15,#u557-25,#u557-28,#u557-33
{
	color: #474747;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u602_img
{
	width: 100%;
}

