/*

*/

.version.projects /* version checker */
{
	color: #0000E6;
	background-color: #2B639E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 418px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu663
{
	margin-top: -4px;
	width: 92.92%;
	margin-left: 2.09%;
}

#u663
{
	z-index: 62;
	position: relative;
	margin-right: -10000px;
	width: 30.5%;
}

#u554-17
{
	z-index: 45;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 68.73%;
	left: 31.28%;
}

#u557-39
{
	z-index: 6;
	min-height: 619px;
	background-color: transparent;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u557-5
{
	font-size: 22px;
	line-height: 30px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-4
{
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-10
{
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u557-18
{
	line-height: 19px;
	color: #474747;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-19
{
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-23
{
	color: #474747;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u557-6,#u557-20
{
	line-height: 19px;
}

#u557-21
{
	font-size: 22px;
	line-height: 30px;
}

#u557-22
{
	font-size: 22px;
	color: #FFFFFF;
	line-height: 30px;
}

#u557-32
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u557-24
{
	color: #FFFFFF;
	line-height: 19px;
}

#u557-26,#u557-29
{
	font-size: 16px;
	color: #474747;
	line-height: 22px;
}

#u557-25,#u557-30
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

#u557-7,#u557-8,#u557-27,#u557-31
{
	font-size: 16px;
	line-height: 22px;
}

#u557-33
{
	font-size: 16px;
	line-height: 22px;
	color: #474747;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-17,#u557-37
{
	font-size: 16px;
	line-height: 22px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-11,#u557-14,#u557-34
{
	color: #474747;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
}

#u663_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	src: url('../fonts/perfectdosvga437win.eot');
	src: local('☺'), url('../fonts/perfectdosvga437win.woff') format('woff'), url('../fonts/perfectdosvga437win.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

