/*

*/

.version.projects /* version checker */
{
	color: #000019;
	background-color: #CE7A18;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 464px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #000000;
	padding-top: 20px;
	padding-bottom: 16px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u579-4
{
	z-index: 2;
	min-height: 19px;
	position: relative;
	width: 5.94%;
	margin-left: 91.98%;
}

#pu687
{
	margin-top: -4px;
	width: 97.5%;
	margin-left: 2.09%;
}

#u687
{
	z-index: 7;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 17.95%;
	left: 82.06%;
}

#u554-17
{
	z-index: 72;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 65.5%;
	left: 29.81%;
}

#u663
{
	z-index: 89;
	position: relative;
	margin-right: -10000px;
	width: 29.06%;
}

#u557-64
{
	z-index: 8;
	min-height: 619px;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u557-6
{
	font-size: 16px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-5
{
	color: #ED1C24;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-8
{
	color: #FFFFFF;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u557-10
{
	font-size: 16px;
	color: #FFFFFF;
}

#u557-14
{
	line-height: 19px;
	color: #474747;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-15
{
	line-height: 19px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u557-26
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u557-19,#u557-22
{
	font-size: 16px;
	color: #474747;
	line-height: 22px;
}

#u557-7,#u557-20,#u557-24
{
	font-size: 16px;
	line-height: 22px;
}

#u557-18,#u557-23,#u557-25
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
}

#u557-17,#u557-27
{
	font-size: 16px;
	line-height: 22px;
	color: #474747;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-28
{
	color: #474747;
}

#u557-4,#u557-16,#u557-33
{
	color: #ED1C24;
}

#u557-47
{
	font-size: 16px;
	line-height: 22px;
	color: #ED1C24;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-9,#u557-13,#u557-31,#u557-32,#u557-34,#u557-36,#u557-37,#u557-44,#u557-45,#u557-49,#u557-54,#u557-62
{
	font-size: 16px;
	line-height: 22px;
	font-family: '__Perfect DOS VGA 437 Win_5';
	font-weight: 400;
}

#u557-35,#u557-38,#u557-41,#u557-48,#u557-50,#u557-53,#u557-55,#u557-58,#u557-61
{
	color: #FFFFFF;
}

#u679
{
	z-index: 6;
	min-height: 26px;
	margin-top: 20px;
	position: relative;
	width: 30.32%;
	margin-left: 2.09%;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
}

#u663_img
{
	width: 100%;
}

@font-face
{
	font-family: '__Perfect DOS VGA 437 Win_5';
	src: url('../fonts/perfectdosvga437win.eot');
	src: local('☺'), url('../fonts/perfectdosvga437win.woff') format('woff'), url('../fonts/perfectdosvga437win.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

